header,
nav,
.ligne,
article,
aside,
footer {
  background-color: black;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 20px;
  height: 100vh
}

h1 {
  color: whitesmoke;
  padding: 1vw;
}

nav {
  grid-column: 2 / 7;
}

.ligne {
  grid-column: 1 / -1;
}

main {
  grid-column: 1 / 5;
  grid-row: 3 / 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

aside {
  grid-column: 5 / -1;
  grid-row: 3 / 6;
}

footer {
  grid-column: 1 / -1;
}